#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
}
.header {
  display: flex;
  align-items: center; 
  gap: 10px;           
}

.shiny-logo {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.shiny-logo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 80%;
  background: linear-gradient(
    120deg,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.35) 50%,
    rgba(255,255,255,0) 100%
  );
  transform: skewX(-20deg);
  pointer-events: none;

  animation: shine 5s infinite;

}

@keyframes shine {
  0% { left: 0%; }
  100% { left: 80%; }
}


.input-container {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 20px;
}


.input-container input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
}


.input-container button {
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.input-container button2 {
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  align-items: center;
  text-align: center;
  display: flex;
}

.input-container button:hover {
  background-color: #45a049;
}

.input-container button2:hover {
  background-color: #9b0404;
}


.list-container {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
 

  padding-top: 10px;
}

.list-item {
  padding: 8px 0;
  border-bottom: 1px solid #13c30d;
  border-radius: 10px;

}